body {
        background-image: url(../img/kanto-map.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed; 
    
}

#Pokemon {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}