@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

body {
    background-image: url(../img/Fondos_de_los_pokemonos/Squirtle.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

}

#evolucion {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

#Squirtel{
    font-family: "Press Start 2P", system-ui;
    margin-left: 45%;
    font-size: 50px;
    color: rgb(66, 44, 44);
    margin-right: 45%;

}

#columnas {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 90%;
    
}

.wartortel {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

img{
    font-family: "Press Start 2P", system-ui;
    height: 20%;
    width: 20%;
}
p{
    font-family: "Press Start 2P", system-ui;
    color: rgb(255, 255, 255);
    font-size: 150%;
}

div{
    font-family: "Press Start 2P", system-ui;
    background-color: rgb(98, 30, 208);
    border-radius: 5px;
    display: inline-block;
    font-size: 150%;
}

#Agua2{
    font-family: "Press Start 2P", system-ui;
    margin-left: 45%;
    margin-right: 40%;
    color: rgb(0, 0, 0);
    background-color: rgb(178, 110, 110);
    text-decoration: none;
    display: inline-block;
    text-align: center;
}